public/flow.txt
[{"id":"1d21c656.cd196a","type":"ibmiot in","z":"f8379e08.34835","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"dotnsfdevice","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":156.5,"y":181.25,"wires":[["dbde4bee.dd9418","eb0ca3c4.e45fc8"]]},{"id":"dbde4bee.dd9418","type":"debug","z":"f8379e08.34835","name":"","active":true,"console":"false","complete":"false","x":357.5,"y":169.5,"wires":[]},{"id":"eb0ca3c4.e45fc8","type":"websocket out","z":"f8379e08.34835","name":"","server":"","client":"252dc352.62769c","x":461.5,"y":233.5,"wires":[]},{"id":"7c9319ee.e58a88","type":"http response","z":"f8379e08.34835","name":"","statusCode":"","headers":{},"x":556.5,"y":528.5,"wires":[]},{"id":"b06299db.fc3538","type":"http in","z":"f8379e08.34835","name":"","url":"/tkb","method":"get","upload":false,"swaggerDoc":"","x":149.5,"y":474.25,"wires":[["80699e00.7cc39"]]},{"id":"80699e00.7cc39","type":"template","z":"f8379e08.34835","name":"tkb","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n<meta charset=\"UTF-8\"/>\n<title>tkb</title>\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"/>\n<meta name=\"apple-mobile-web-app-capable\" content=\"yes\"/>\n<script type=\"text/javascript\" src=\"//code.jquery.com/jquery-2.2.4.min.js\"></script>\n<link href=\"//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js\"></script>\n<script>\nvar socket;\nvar wsUrl = 'ws://' + location.hostname + '/ws/letter';\nfunction connect(){\n  console.log( 'wsUrl = ' + wsUrl );\n  socket = new WebSocket(wsUrl);\n  socket.onmessage = function(e) {\n    var data = JSON.parse(e.data);\n    console.log( data );\n    \n  }\n}\n</script>\n\n</head>\n<body onload=\"connect()\">\n    \n</body>\n</html>\n","output":"str","x":349.5,"y":509.75,"wires":[["7c9319ee.e58a88"]]},{"id":"252dc352.62769c","type":"websocket-client","z":"","path":"ws://xxxxxx.mybluemix.net/ws/letter","wholemsg":"false"}]

